/* styleFor.css */

.fornecedor-form-container {
    width: 400px; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.fornecedor-list {
    margin: 20px auto;
    width: 400px; 
    background-color: #fff; 
    border-radius: 8px; 
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

h2 {
    text-align: center; 
}

.fornecedor-form-group {
    margin-bottom: 15px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
}

input[type="text"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

button {
    width: 100%; 
    padding: 10px;
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

button:hover {
    background-color: #0056b3; 
}

.fornecedor-list ul {
    list-style-type: none; 
    padding: 0; 
}

.fornecedor-list ul li {
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
}

.fornecedor-list ul li:last-child {
    border-bottom: none; 
}
